@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Poppins&display=swap");

/* font-family: 'Iceberg', cursive;
  font-family: 'Poppins', sans-serif; */
body {
  margin: 0px;
}

.nav {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(232, 248, 255);
  position: fixed;
  top: 0px;
}
.nav_app_title {
  font-family: "Iceberg", cursive;
  font-size: 2rem;
  padding-left: 1rem;
}
.nav_titles {
  font-family: "Iceberg", cursive;
  font-size: 1.25rem;
}
.nav_button {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_head {
  display: flex;
  align-items: center;
}
.section_1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(232, 248, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section1_pic {
  margin-top: 4rem;
  width: max(45vw, 25rem);
}
.left {
  margin-left: 8%;
}
.section2_pic {
  width: max(30vw, 15rem);
}
.section_2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.section_2_right {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-around;
  /* background-color: blueviolet; */
}
.strip {
  padding-top: 0.5rem;
  width: 3.125rem;
  border-bottom: 0.25rem solid rgb(1, 122, 255);
  height: 0.313rem;
  border-radius: 0.25rem;
}
.flex {
  display: flex;
}
.flex0 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex7 {
  display: flex;
  align-items: self-start;
  justify-content: space-around;
}
.l {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  color: rgb(1, 122, 255);
  font-weight: 700;
  font-size: max(4vh, 1rem);
}
.section_3 {
  width: 100%;
  height: 100vh;
  background-color: rgb(232, 248, 255);
  /* display: flex;
  align-items:center;
  justify-content: center; */
}
.serial_pic {
  width: 100%;
}
.serial_pic_child {
  width: 33.3%;
  /* height: 469px; */
  /* background-color: blue; */
  overflow: hidden;
}
.space {
  padding: 3.125rem;
}
.section_4 {
  width: 100%;
  height: 100%;
  margin-top: 1.563rem;
}
.capabilities {
  width: 22vw;
  border: 0px solid gray;
  border-radius: 1.563rem;
  padding: 1.563rem;
  text-align: justify;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 1.25rem 0 rgba(0, 0, 0, 0.19);
}
.capabilities_pic {
  width: 3.75rem;
}
.flex2 {
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.563rem;
  flex-wrap: wrap;
}
.c {
  color: rgb(1, 122, 255);
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 0.625rem;
}
.c1 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 0.625rem;
}
.c2 {
  color: #fff;
  font-size: 14px;
  padding-bottom: 0.625rem;
  list-style: none;
}
.outline {
  color: rgb(232, 248, 255);
  text-shadow: -2px -2px 0 rgb(29, 181, 255), 2px -2px 0 rgb(29, 181, 255),
    -2px 2px 0 rgb(29, 181, 255), 2px 2px 0 rgb(29, 181, 255);
}
.texth1 {
  font-family: "Poppins", sans-serif;
  font-size: max(6vw, 2rem);
  font-weight: 600;
}
.texth2 {
  font-family: "Poppins", sans-serif;
  font-size: max(3vw, 1.25rem);
  font-weight: 600;
}
.cp {
  font-size: 0.938rem;
}
.con {
  width: 85%;
  margin-inline: auto;
}
.w {
  width: 85%;
}
.flex3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex4 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}
.th3 {
  font-size: 2rem;
  font-weight: 700;
}
.top {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
.footer {
  width: 100%;
  height: 40vh;
  background-color: rgb(0, 141, 255);
  background-image: url(/src/png/contact\ abstract.png);
  background-size: 88.75rem;
  background-repeat: no-repeat;
  padding-top: 3.125rem;
}
.bg {
  margin-top: -1.563rem;
}
.just {
  text-align: justify;
}
.marleft {
  margin-left: -2.118rem;
}
.flex5 {
  /* width: 20%; */
  display: flex;
  /* flex-direction: column; */
  align-items: self-start;
  justify-content: center;
}
.flex6 {
  height: 16vh;
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-around;
}
.tm {
  margin-top: 1rem;
  margin-right: 1rem;
}
.wd {
  width: 75%;
  margin-inline: auto;
}
li {
  padding-bottom: 0.188rem;
}
.pad {
  padding-right: 1.875rem;
}
.tp {
  padding-top: 1.563rem;
}

a:link {
  color: white;
  background-color: rgb(0, 113, 227);
  border-radius: 3.125rem;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.125rem;
  text-align: center;
  font-size: large;
  text-decoration: none;
  margin: 0.5rem;
  outline: none;
}

a:visited {
  color: white;
  background-color: rgb(0, 113, 227);
  border-radius: 3.125rem;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.125rem;
  text-align: center;
  font-size: large;
  text-decoration: none;
  margin: 0.5rem;
  outline: none;
}

a:hover {
  color: white;
  background-color: rgb(0, 124, 248);
  border-radius: 3.125rem;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.125rem;
  text-align: center;
  font-size: large;
  text-decoration: none;
  margin: 0.5rem;
  outline: none;
}

a:active {
  color: white;
  background-color: rgb(0, 124, 248);
  width: 1.25rem;
  border-radius: 3.125rem;
  padding: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.125rem;
  text-align: center;
  font-size: large;
  text-decoration: none;
  margin: 0.5rem;
  outline: none;
}
.pagepic{
  margin-top: 4rem;
}

/* @media (max-width: 800px) {
  .section_1 {
    width: 100%;
    height: 690px;
    background-color: rgb(6, 180, 254);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
} */
